name: Lint and Test
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:

  lint:
    name: Lint 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: "1.16.15"

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6.5.2
        with:
          version: "v1.46.2"
          args: "--timeout 5m0s"

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Build tester container
        run: docker compose build tester
      
      - name: Install Docker compose
        uses: docker/setup-compose-action@364cc21a5de5b1ee4a7f5f9d3fa374ce0ccde746 # v1.2.0
        with:
          version: latest

      - name: Run tester container
        run: docker compose run --rm tester go test ./...