name: Lint and Test
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00  # v6.0.0
        with:
          go-version: "stable"

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47  # v9.0.0
        with:
          version: "latest"
          args: "--timeout 5m0s"

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1

      - name: Build tester container
        run: docker compose build tester

      - name: Docker Compose up
        run: docker compose up -d

      - name: Run tester container
        run: docker compose run --rm tester go test ./...
